apiVersion: apps/v1
kind: Deployment
metadata:
  name: brank-edge-service-server-deployment
  labels:
    app: brank-edge-service-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: brank-edge-service-server
  template:
    metadata:
      labels:
        app: brank-edge-service-server
    spec:
      containers:
        - name: brank-edge-service-server
          image: robindeclerck/brank-edge-service
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 8050
          resources:
            limits:
              cpu: 0.2
              memory: "200Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: brank-edge-service-server
  labels:
    app: brank-edge-service-server
spec:
  type: NodePort
  selector:
    app: brank-edge-service-server
  ports:
    - name: http
      port: 8050
      targetPort: 8050